@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    text-align: center;
    background-color: #F6F6F7;
}

body {
    display: flex;
    min-height: 100vh;
    height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a:link, a:visited {
    text-decoration: none;
}

.swoof {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    text-align: center;
    background-color: #F6F6F7;
    color: #6c6c6c;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.swoof.dark {
    background-color: #1D1D1D;
    color: #F6F6F7;
}

.swoof a {
    color: #1ecbd7;
}
.swoof.dark a {
    color: #e1f5fe;
}

.cover {
    margin: 60px 60px 20px 60px;
}

.cover.vinyl {
    width: 116px;
    height: 116px;
    border-color: #F6F6F7;
    border-style: solid;
    border-width: 2px;

    box-shadow: 0 0 0 5px #424958, 0 0 0 6px #2c313b, 0 0 0 7px #424958, 0 0 0 8px #2c313b, 0 0 0 9px #424958, 0 0 0 10px #2c313b, 0 0 0 11px #424958, 0 0 0 12px #2c313b, 0 0 0 13px #424958, 0 0 0 14px #2c313b, 0 0 0 15px #424958, 0 0 0 16px #2c313b, 0 0 0 17px #424958, 0 0 0 18px #2c313b, 0 0 0 19px #424958, 0 0 0 20px #2c313b, 0 0 0 21px #424958, 0 0 0 22px #2c313b, 0 0 0 23px #424958, 0 0 0 24px #373d49, 0 0 0 25px #424958, 0 0 0 30px #2c313b;
    border-radius: 50%;
}

.rotate-animation {
    animation: play 3s 0s infinite;
    transform: rotate(0deg);
    animation-timing-function: linear;
}

.rotate-animation-idle {
    animation: play_off 3s 0s;
    transform: rotate(0deg);
    animation-timing-function: linear;
}

@-webkit-keyframes play {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes play_off {
    0% {
        -moz-transform: rotate(0deg);
    }
}

@keyframes play {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes play_off {
    100% {
        transform: rotate(0deg);
    }
}


.hidden {
    display: none;
}

/* ========= */

.swoof .mdl-layout__header {
    background-color: #fff;
    color: #6c6c6c;
}

.swoof.dark  .mdl-layout__header {
    background-color: #282828;
    color: #fff;
}

.swoof .mdl-layout__header-row .mdl-navigation__link {
    color: #6c6c6c;
}
.swoof.dark .mdl-layout__header-row .mdl-navigation__link {
    color: #fff;
}

.swoof .mdl-button--accent.mdl-button--accent.mdl-button--accent.mdl-button--raised {
    background-color: #1ecbd7;
}

.swoof svg {
    fill: #6c6c6c;
}
.swoof.dark svg {
    fill: #fff;
}

.swoof button>svg {
    fill: #fff;
}

.swoof .mdl-layout__drawer {
    text-align: left;
    border-right-width: 0;
    color: #6c6c6c;
}
.swoof.dark .mdl-layout__drawer {
    background-color: #282828;
    color: #fff;
}

.swoof .mdl-layout-title {
    font-weight: 500;
}

.swoof.dark .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #fff;
}
.swoof.dark .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #4c4c4c;
}

.swoof .mdl-layout__drawer .mdl-switch {
    margin-left: 20%;
    width: auto;
}

.swoof .mdl-switch.is-checked .mdl-switch__track {
    background-color: rgba(30, 203, 205, 0.5);
}
.swoof .mdl-switch.is-checked .mdl-switch__thumb {
    background-color: rgb(30, 203, 205);
}

.swoof .mdl-layout__drawer-button {
    color: #6c6c6c;
}
.swoof.dark .mdl-layout__drawer-button {
    color: #fff;
}

.swoof .tag-active {
    background-color: #1ecbd7;
}

.swoof .mdl-list__item {
    color: #6c6c6c;
}
.swoof.dark .mdl-list__item {
    color: #fff;
}

.swoof.dark .mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title {
    color: rgba(255, 255, 255, 0.54);
}

.swoof .sign-in {
    position: relative;
    height: 100vh;
    width: auto;
    background-color: #f3f3f3;
}
.swoof.dark .sign-in {
    background-color: #282828;
}

.swoof .sign-in-slogan {
    font-size: 60px;
    padding-top: 160px;
}

.swoof .sign-in-sub-slogan {
    font-size: 21px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.swoof .logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #6c6c6c;
    font-weight: 500;
}

.swoof.dark  .logo-font {
    color: #fff;
}

.swoof .sign-in-buttons button {
    margin: 8px;
}

.sw-playlist-container {
    width: 650px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

.sw-playlist-container .sw-playlist-container__title {
    margin-left: 48px;
}

.sw-playlist-container img {
    width: 40px;
    height: 40px
}

.sw-player .sw-player-actions .sw-player-actions__offset {
    margin-left: 32px;
}
.sw-player .sw-player-actions .sw-player-actions__primary {
    width: 64px;
    height: 64px;
}
.sw-player .sw-player-actions .sw-player-actions__primary i {
    font-size: 32px;
    width: 32px; transform: translate(-16px,-12px);
}

/*============*/

.bounce {
    animation: bounce 1s 0s infinite;
    transform: scale(0.85);
}

@keyframes bounce {
    0% { transform: scale(1.1); opacity: 1 }
    50% { transform: scale(1.4); opacity: .7; }
    60% { transform: scale(0.7); opacity: 1 }
    80% { transform: scale(0.95) }
    100% { transform: scale(0.85) }
}